<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> My Chat App</title>
    </head>
    <body>
        <h1>My Chat App</h1>
        <h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>
        <form action="/chat">
            <div>
                <label for="username">Enter your Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="room">Enter Room id:</label>
                <input type="text" id="room" name="room">
            </div>
            <button type="submit">Join Chat</button>
        </form> 
    </body>
</html>